.pm-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.pm-panel-body {
    padding: 15px;
}
.pm-panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.pm-panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.pm-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.pm-panel-title > a {
    color: inherit;
}

.pm-panel-default {
    border-color: #ddd;
}
.pm-panel-default > .pm-panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.pm-panel-success {
    border-color: #d6e9c6;
}
.pm-panel-success > .pm-panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.pm-panel-success > .pm-panel-heading + .pm-panel-collapse .pm-panel-body {
    border-top-color: #d6e9c6;
}
.pm-panel-success > .pm-panel-footer + .pm-panel-collapse .pm-panel-body {
    border-bottom-color: #d6e9c6;
}

.pm-pull-right{
    float:right;
}

.pm-price{
    padding-top:4px;
}

.pm-product-image{

    width: 25%;
    max-height: 120px;
    display: inline-block;
    vertical-align: top;

}

.pm-product-info{
    width: 74%;
    display: inline-block;
    vertical-align: top;
}

.pm-nav {
    padding-left: 0;
    margin-bottom: 0;
    margin-top:0px;
    list-style: none;
}
.pm-nav > li {
    position: relative;
    display: block;
}
.pm-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.pm-nav > li > a:hover,
.pm-nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.pm-nav > li.disabled > a {
    color: #999;
}
.pm-nav > li.disabled > a:hover,
.pm-nav > li.disabled > a:focus {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.pm-nav .open > a,
.pm-nav .open > a:hover,
.pm-nav .open > a:focus {
    background-color: #eee;
    border-color: #428bca;
}
.pm-nav .pm-nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.pm-nav > li > a > img {
    max-width: none;
}
.pm-nav-tabs {
    border-bottom: 1px solid #ddd;
}
.pm-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.pm-nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;

}
.pm-nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}
.pm-nav-tabs > li.active > a,
.pm-nav-tabs > li.active > a:hover,
.pm-nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.pm-nav:before, .pm-nav:after{
    display: table;
    content: " ";
}

.pm-nav:after{
    clear:both;
}


@media (min-width: 768px) {
    .pm-nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .pm-nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .pm-nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .pm-nav-tabs.nav-justified > .active > a,
    .pm-nav-tabs.nav-justified > .active > a:hover,
    .pm-nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.pm-nav-pills > li {
    float: left;
}
.pm-nav-pills > li > a {
    border-radius: 4px;
}
.pm-nav-pills > li + li {
    margin-left: 2px;
}
.pm-nav-pills > li.active > a,
.pm-nav-pills > li.active > a:hover,
.pm-nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.pm-tab-content > .tab-pane {
    display: none;
}
.pm-tab-content > .active {
    display: block;
}
.pm-nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pm-panel-body .pm-product-image img {
    max-width: 90%;
    max-height: 120px;
}

.pm-tab-content > .pm-tab-pane {
    display: none;
}
.pm-tab-content > .active, .pm-tab-content > .pm-active {
    display: block;
}


.pm-tab-pane{
    border: 1px solid #dddddd;
    border-top-color: transparent;
    border-radius: 0px 0px 4px 4px;
    padding: 15px;
}

.pm-badge {
    color: #fff;
    background-color: #333;
}

.pm-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}

.pm-badge {
    position: relative;
    top: -1px;
}

.pm-badge-warning {
    background-color: #f89406;
}

.pm-badge-success {
    background-color: #468847;
}

.pm-badge-info {
    background-color: #3a87ad;
}

.pm-badge-inverse {
    background-color: #333333;
}





.pm-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.pm-btn:focus,
.pm-btn:active:focus,
.pm-btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.pm-btn:hover,
.pm-btn:focus {
    color: #333;
    text-decoration: none;
}

.pm-btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.pm-btn-primary:hover,
.pm-btn-primary:focus,
.pm-btn-primary:active,
.pm-btn-primary.active,
.open .dropdown-toggle.pm-btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}
.pm-btn-primary:active,
.pm-btn-primary.active,
.open .dropdown-toggle.pm-btn-primary {
    background-image: none;
}

.pm-btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.pm-btn-success:hover,
.pm-btn-success:focus,
.pm-btn-success:active,
.pm-btn-success.active,
.open .dropdown-toggle.pm-btn-success {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}
.pm-btn-success:active,
.pm-btn-success.active,
.open .dropdown-toggle.pm-btn-success {
    background-image: none;
}

.pm-btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.pm-btn-danger:hover,
.pm-btn-danger:focus,
.pm-btn-danger:active,
.pm-btn-danger.active,
.open .dropdown-toggle.pm-btn-danger {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}
.pm-btn-danger:active,
.pm-btn-danger.active,
.open .dropdown-toggle.pm-btn-danger {
    background-image: none;
}

.pm-btn-xs,
.pm-btn-group-xs > .pm-btn {
    padding: 4px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-top: -1px;
}

.pm-icon{
    width: 12px;
    height: 12px;
    text-decoration: none;
    display: block;
    background: url('../img/icon_sprite.png') 12px 0;
}

.pm-chevron-right{
    background-position: -118px 0;
}

.pm-chevron-down{
    background-position: -132px 0;
}

.pm-plus{
    background-position: 0 0;

}

.pm-minus{
    background-position: -108px 0;

}

#pm-extended-search{
    display: inline-block;
    cursor: pointer;
}

#pm-extended-search-icon{
    display: inline-block;
}

#pm-searchbutton{
    margin-right: 20px;
}

.pm-row{
    margin-top: 5px;
    margin-bottom: 5px;
}

#pm-results{
    padding-top: 20px;
}

#pm-search-loader{
    padding-top: 20px;
    padding-bottom: 20px;
}

#pm-fadingBarsG{

    position: relative;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width:320px;
    height:39px}

.pm-fadingBarsG{
    position:absolute;
    top:0;
    background-color:#45b4ec;
    width:39px;
    height:39px;
    -moz-animation-name:bounce_pm-fadingBarsG;
    -moz-animation-duration:1.1s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(.3);
    -webkit-animation-name:bounce_pm-fadingBarsG;
    -webkit-animation-duration:1.1s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(.3);
    -ms-animation-name:bounce_pm-fadingBarsG;
    -ms-animation-duration:1.1s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(.3);
    -o-animation-name:bounce_pm-fadingBarsG;
    -o-animation-duration:1.1s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(.3);
    animation-name:bounce_pm-fadingBarsG;
    animation-duration:1.1s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(.3);
}

#pm-fadingBarsG_1{
    left:0;
    -moz-animation-delay:0.44s;
    -webkit-animation-delay:0.44s;
    -ms-animation-delay:0.44s;
    -o-animation-delay:0.44s;
    animation-delay:0.44s;
}

#pm-fadingBarsG_2{
    left:40px;
    -moz-animation-delay:0.55s;
    -webkit-animation-delay:0.55s;
    -ms-animation-delay:0.55s;
    -o-animation-delay:0.55s;
    animation-delay:0.55s;
}

#pm-fadingBarsG_3{
    left:80px;
    -moz-animation-delay:0.66s;
    -webkit-animation-delay:0.66s;
    -ms-animation-delay:0.66s;
    -o-animation-delay:0.66s;
    animation-delay:0.66s;
}

#pm-fadingBarsG_4{
    left:120px;
    -moz-animation-delay:0.77s;
    -webkit-animation-delay:0.77s;
    -ms-animation-delay:0.77s;
    -o-animation-delay:0.77s;
    animation-delay:0.77s;
}

#pm-fadingBarsG_5{
    left:160px;
    -moz-animation-delay:0.88s;
    -webkit-animation-delay:0.88s;
    -ms-animation-delay:0.88s;
    -o-animation-delay:0.88s;
    animation-delay:0.88s;
}

#pm-fadingBarsG_6{
    left:200px;
    -moz-animation-delay:0.99s;
    -webkit-animation-delay:0.99s;
    -ms-animation-delay:0.99s;
    -o-animation-delay:0.99s;
    animation-delay:0.99s;
}

#pm-fadingBarsG_7{
    left:240px;
    -moz-animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
    -ms-animation-delay:1.1s;
    -o-animation-delay:1.1s;
    animation-delay:1.1s;
}

#pm-fadingBarsG_8{
    left:280px;
    -moz-animation-delay:1.21s;
    -webkit-animation-delay:1.21s;
    -ms-animation-delay:1.21s;
    -o-animation-delay:1.21s;
    animation-delay:1.21s;
}

@-moz-keyframes bounce_pm-fadingBarsG{
    0%{
        -moz-transform:scale(1);
        background-color:#45b4ec;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:#171f24;
    }

}

@-webkit-keyframes bounce_pm-fadingBarsG{
    0%{
        -webkit-transform:scale(1);
        background-color:#45b4ec;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:#171f24;
    }

}

@-ms-keyframes bounce_pm-fadingBarsG{
    0%{
        -ms-transform:scale(1);
        background-color:#45b4ec;
    }

    100%{
        -ms-transform:scale(.3);
        background-color:#171f24;
    }

}

@-o-keyframes bounce_pm-fadingBarsG{
    0%{
        -o-transform:scale(1);
        background-color:#45b4ec;
    }

    100%{
        -o-transform:scale(.3);
        background-color:#171f24;
    }

}

@keyframes bounce_pm-fadingBarsG{
    0%{
        transform:scale(1);
        background-color:#45b4ec;
    }

    100%{
        transform:scale(.3);
        background-color:#171f24;
    }

}

.pm-h4{
    margin:0.33em 0;
    margin-top: 2em;
}

.pm-hr{
    margin-left: -13px;
    margin-right: -13px;
}

.pm-barcodes{
    padding-bottom: 15px;
}

.pm-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    margin: 20px;
    padding: 20px;
}